transformers==4.34.1
accelerate==0.23.0
einops==0.7.0
langchain==0.0.320
xformers==0.0.22.post4
bitsandbytes
faiss-cpu==1.7.4
sentence_transformers==2.2.2
fastapi==0.104.1
uvicorn==0.24.0.post1
pandas==2.1.2
torch==2.1.0
rouge-score==0.1.2
python-multipart
pypdf